In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import moscot
from anndata import AnnData
import numpy as np
from moscot.backends.ott import FGWSolver, SinkhornSolver, GWSolver, LRSinkhornSolver
from moscot.solvers._data import TaggedArray, Tag
import matplotlib.pyplot as plt
import jax.numpy as jnp
from typing import *
import pandas as pd
import networkx as nx
import jax.numpy as jnp
from moscot.problems.time._lineage import TemporalProblem

In [9]:
x = np.random.normal(size=(64, 3))# source distribution: 128 cells, 3 genes
y = np.random.normal(size=(128, 3))# target distribution: 128 cells, 3 genes

adata_x = AnnData(x)
adata_y = AnnData(y)


adata_c = adata_x.concatenate(adata_y)

In [10]:
adata_c.obs.batch

0-0      0
1-0      0
2-0      0
3-0      0
4-0      0
        ..
123-1    1
124-1    1
125-1    1
126-1    1
127-1    1
Name: batch, Length: 192, dtype: category
Categories (2, object): ['0', '1']

In [11]:
tp = TemporalProblem(adata_c, solver=SinkhornSolver(jit=False))

In [12]:
tp.prepare(key="batch", n_growth_rates_estimates=3)

In [13]:
tp.solve(tau_a=0.5, tau_b=0.5)

Trying to set attribute `.obs` of view, copying.

In [14]:
tp.adata.obs

      batch  marginal_a_g1  marginal_a_g2  marginal_a_g3
0-0       0       0.074281       0.074971       0.073733
1-0       0       0.005692       0.001685       0.000917
2-0       0       0.123200       0.154022       0.166045
3-0       0       0.009944       0.004059       0.002633
4-0       0       0.112080       0.133379       0.140175
...     ...            ...            ...            ...
123-1     1            NaN            NaN            NaN
124-1     1            NaN            NaN            NaN
125-1     1            NaN            NaN            NaN
126-1     1            NaN            NaN            NaN
127-1     1            NaN            NaN            NaN

[192 rows x 4 columns]